services:
  nginx:
    build:
      context: .
      target: nginx
    ports:
      - '8080:8080'
    read_only: true
    restart: unless-stopped
    cap_drop:
      - ALL
    ulimits:
      nofile:
        soft: 1048576
        hard: 1048576
      core: 0
    tmpfs:
      - /tmp:rw,noexec,nodev,nosuid,noatime,size=256m,mode=1777
