services:
  devcontainer:
    build:
      context: './'
      dockerfile: './Dockerfile'
      target: 'devcontainer'
    environment:
      APP_ENV: 'local'
      NODE_ENV: 'development'
    volumes:
      - './:/workspaces'
    command: 'sleep infinity'
