:root {
  min-height: 100vh;
  scrollbar-width: none;
  background-color: white;
  color: black;
}

@media screen and (width >= 600px) and (width <= 1199px) {
  :root {
    scrollbar-width: thin;
  }
}

@media screen and (width >= 1200px) {
  :root {
    scrollbar-width: auto;
  }
}
